<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanted.project.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="com.wanted.project.model.Comment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="post_id" jdbcType="BIGINT" property="postId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="modified_at" jdbcType="TIMESTAMP" property="modifiedAt" />
  </resultMap>
</mapper>